<header>
    <nav class="bg-my-gray-dark flex flex-wrap text-white justify-between items-center p-3">
        <a href="/" class="group p-1 m-1 sm:m-0 font-sharetech text-my-yellow sm:flex inline-block items-center  hover:shadow-my-orange transition duration-300 cursor-pointer hover:bg-my-yellow hover:text-gray-900">
            <svg width="32" width="32" viewBox="0 0 32 32">
                <rect class="fill-my-yellow" width="32" height="32" />
                <polygon class="stroke-my-gray-dark group-hover:stroke-gray-900" points="1,1 1,31 8,31 8,8 24,8 24,24 15,24 15,31 31,31 31,1" stroke-width="2" fill="none" />
            </svg>
            <span class="text-xl hidden sm:inline-block ml-2">opranis</span>
        </a>
        <svg onclick="toggleNav()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block sm:hidden w-10 h-10 text-my-yellow hover:shadow-my-orange transition duration-300 cursor-pointer hover:bg-my-yellow hover:text-gray-900 p-1 m-1">
            <path id="burger" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" class="" />
            <path id="cross" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" class="hidden" />
        </svg>
        <div id="dropdown" class="sm:space-x-3 sm:space-y-0 space-y-2 hidden sm:inline-block w-full sm:w-auto mt-2 sm:mt-0">
            <a href="/blog/tags/posts/" class="hover:shadow-my-orange cursor-pointer block sm:inline-block transition duration-300 hover:bg-my-yellow hover:text-gray-900 bg-my-gray-dark font-sharetech text-my-yellow text-lg p-2 sm:p-1">
                all_posts
            </a>
            <a href="/blog/tags/projects/" class="hover:shadow-my-orange cursor-pointer block sm:inline-block transition duration-300 hover:bg-my-yellow hover:text-gray-900 bg-my-gray-dark font-sharetech text-my-yellow text-lg p-2 sm:p-1">
                projects
            </a>
            {# <a href="/about-me/" class="hover:shadow-my-orange cursor-pointer block sm:inline-block transition duration-300 hover:bg-my-yellow hover:text-gray-900 bg-my-gray-dark font-sharetech text-my-yellow text-lg p-2 sm:p-1">
                about me
            </a> #}
        </div>
    </nav>
</header>
<script>
    {% set js %}
    function toggleNav() {
        var cross = document.getElementById("cross");
        var burger = document.getElementById("burger");
        var dropdown = document.getElementById("dropdown");
        if (cross.classList.contains("hidden")) { //make menu visible
            cross.classList.remove("hidden");
            burger.classList.add("hidden");

            dropdown.classList.remove("hidden")
        } else {                              //make menu hidden
            burger.classList.remove("hidden");
            cross.classList.add("hidden");

            dropdown.classList.add("hidden");
        }
    }
    {% endset %}
    {{ js | jsmin | safe }}
</script>