---
layout: layouts/default.njk
---
<div class="m-10 text-center md:text-left relative z-10">
    <h1 class="pb-2 mb-5 font-sharetech text-5xl text-black">
        <a href="#" class="bg-my-yellow p-2 leading-default decoration-clone shadow-my-none hover:shadow-my transition-shadow duration-300 cursor-pointer">
            oliver pranis
        </a>
    </h1>
    {# <h2 class="font-montserrat text-black mb-20">
        <span class="bg-my-yellow decoration-clone p-1">
            Hello there!<br>I like to explore things.
        </span>
    </h2> #}
    <div class="m-auto md:mx-0 mb-5">
        <a href="https://youtu.be/dQw4w9WgXcQ" class="shadow-my-none hover:shadow-my cursor-pointer inline-block box-border focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            About me
        </a>
    </div>
    <div class="m-auto md:mx-0 mb-5">
        <a href="#" class="shadow-my-none hover:shadow-my cursor-pointer inline-block box-border focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            Projects
        </a>
    </div>
    <div class="m-auto md:mx-0 mb-5">
        <a href="#" class="shadow-my-none hover:shadow-my cursor-pointer inline-block box-border focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            Blog
        </a>
    </div>
</div>
<canvas id="cubes" class="bg-gradient-to-b md:bg-gradient-to-br from-my-green to-my-blue fixed top-0 w-full h-full"></canvas>
<script>
    {% include "scripts/cubes.js" %}
</script>