---
title: Oops! Not found.
layout: layouts/cubes.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<h2 class="font-sharetech text-2xl text-black m-8">
    <span class="bg-my-yellow hover:bg-my-orange decoration-clone p-1">
        Oops!<br>This doesn't look like anything to me.
    </span>
</h2>