---
title: Oops! Not found.
layout: layouts/cubes.njk
permalink: 404.html
---
<h2 class="font-sharetech text-2xl text-black absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <span class="bg-my-yellow decoration-clone p-1">
        Oops!<br>This doesn't look like anything to me.
    </span>
</h2>