---
layout: layouts/cubes.njk
dev: true
---
<div class="my-10 md:mx-10 md:space-y-5 text-center md:text-left relative z-10">
    <h1 class="pb-2 font-sharetech text-5xl text-black mx-10 mb-4 md:m-0">
        <a href="#" class="bg-my-yellow p-2 leading-default decoration-clone shadow-my-orange-none hover:shadow-my-orange transition-shadow duration-300 cursor-pointer">
            oliver pranis
        </a>
    </h1>
    {% if not dev %}
    <div class="mb-4 md:m-0">
        <a href="{{ site.media }}/opranis_resume.pdf" target="_blank" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer
        inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow
        border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            resume
        </a>
    </div>
    <div class="mb-4 md:m-0">
        <a href="/blog/tags/projects/" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer
        inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow
        border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            projects
        </a>
    </div>
    <div class="mb-4 md:m-0">
        <a href="/blog/tags/posts/" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer
        inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow
        border-4 bg-black font-sharetech text-my-yellow text-lg p-2">
            blog
        </a>
    </div>
    <div id="about" class="before:w-full before:h-full before:bg-inherit before:block before:absolute before:-z-10
                before:-skew-y-6 before:origin-top-left before:top-0 before:border-l-8 md:before:border-my-orange after:w-full after:h-full
                after:bg-inherit after:block after:absolute after:-z-10 after:top-0 after:-skew-y-6
                after:origin-bottom-right relative bg-my-yellow my-16 md:!m-0 text-left md:after:w-0
                md:fixed md:h-full md:w-80 lg:w-[31rem] md:right-0 md:before:-skew-x-6 md:top-0 md:before:skew-y-0">

        <div class="p-4 md:p-8 md:text-lg font-montserrat md:flex flex-col justify-center h-full">
            <h1 class="font-sharetech text-lg md:text-xl pb-6">Hello, glad to have you here!</h1>
            <p class="pb-6">
                I'm Oliver, a first-year PhD student at <a href="https://www.radioglaciology.com/" target="_blank" class="font-sharetech hover:bg-black hover:text-my-yellow transition duration-200 text-nowrap">[Stanford Radio Glaciology]</a> group.
            </p>
            <p class="pb-6">
                You can read a bit more about my experience on my <a href="{{ site.media }}/opranis_resume.pdf" target="_blank" class="font-sharetech hover:bg-black hover:text-my-yellow transition duration-200">[resume]</a>.
            </p>
            <p>
                My projects and other writings should occasionally end up on the <a href="/blog/tags/posts/" class="font-sharetech hover:bg-black hover:text-my-yellow transition duration-200">[blog]</a>.
            </p>
        </div>
    </div>
    {% endif %}
    <div class="flex md:justify-start justify-center gap-x-3">
        <a aria-label="Email" href="mailto:oliver.pranis@gmail.com" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
        </a>
        <a aria-label="LinkedIn" href="https://www.linkedin.com/in/oliver-pranis/" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
            </svg>
        </a>
        <a aria-label="GitHub" href="https://github.com/opranis" class="shadow-my-orange-none hover:shadow-my-orange cursor-pointer inline-block focus:outline-none transition duration-300 hover:bg-my-yellow hover:text-black border-my-yellow border-4 bg-black font-sharetech text-my-yellow p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
            </svg>
        </a>
    </div>
</div>
{# <script>
    {% set js %}
    var abt = document.getElementById("about");
    window.onload = function(){
        abt.classList.remove("md:translate-x-[35rem]");
    }
    window.onbeforeunload = function(){
        abt.classList.add("md:translate-x-[35rem]");
    }
    {% endset %}
    {{ js | jsmin | safe }}
</script> #}